* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 115px;
}


body {
    min-height: 100vh;   
    background-color: #432818;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



/* Header */

.container {
    display: flex;
    max-width: 1600;
    margin: 0 auto;
    padding-left: 64px;
    padding-right: 64px;
}


header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 650;
    .container {
        padding-top: 8px;
        padding-bottom: 8px;
        justify-content: space-between;
        align-items: center;


        nav {
            display: grid;
            grid-gap: 16px;
            grid-template-columns: repeat(4,auto);

            @media (max-width: 767px) {
                display: none;
            }

            a {
                color: #fff;
                font-size: 20px;
                text-decoration: none;

            }
        }
    }

    &.is-scrolling {
        background-color: #432818;
        transition: 0.3s;

        
    }

}


.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    height: 35px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    width: 100%;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0px;
    transition: 0.4s;
    content: '';
    display: block;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    min-height: 100vh;
    width: 100%;
    display: block;
    z-index: 98;
    background-color: #432818;
    padding-top: 50%;
    transition: 0.4s;

}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        display: block;
        text-align: center;
        padding: 12px 16px;
        background-color: #371e0f;
        text-decoration: none;
        color: #FFF;
        border-radius: 5px;
}

.mobile-nav a:hover {
    background: #2162bd;
}

.mobile-footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #432818;
    padding: 20px;
    text-align: center;
    z-index: 100;
}
.mobile-footer a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}


.section-title {
    color: #FFF;
    text-align: center;
    padding: 40px 0;
}

.section-title h2 {
    font-size: 36px;
    margin-bottom: 5px;
}

.section-title p {
    font-size: 24px;
}






/* HERO */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}


.hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}


.hero-content h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    max-width: 80%;
}

.hero-content p {
    color: #ddd;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.hero-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 700;
    text-decoration: none; 
}

.hero-button:hover {
    background: #bbb9b9;
    transition: 0.3s;
}

/* Info */
.info-section {
    text-align: center;
    
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
}

.info-box {
    width: calc(40% - 20px);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #371e0f;
    max-width: 40%;
}

.info-box h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

.info-box p {
    font-size: 16px;
    color: #fff;
}

@media (max-width: 576px) {
    .info-box {
        width: 100%;
        max-width: 100%;
    }
}





/* MENU */

.drinks-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #432818;
    color: #FFF;
}

.Vores-Menu {
    font-size: 36px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.drink-item {
    width: calc(20% - 20px); 
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #371e0f;
}


.drink-icon {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.drink-icon2 {
    width: 125px;
    height: auto;
    margin-bottom: 10px;
}

.drink-item h3 {
    margin: 5px 0;
}

.drink-icon, .drink-icon2 {
    max-width: 100%;
    height: auto; /
}

/* FAQ */
.faq-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #432818;
    color: #FFF;
}

.faq-section h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

.faq-content {
    flex: 1;
    padding: 40px;
    text-align: center;
}

.image-container {
    flex: 1;
    padding: 40px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 18px;
}

/* Priser */

.priser-title {
    font-size: 36px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    color: #FFF;
}

.pricing-table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    color: #FFF;
}

.price-option {
    flex: 1;
    background-color: #371e0f;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    max-width: calc(50% - 20px);
}

.thankyoumessage {
    text-align: center;
    justify-content: center;
    padding: 200px;
}


.time {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.price {
    font-size: 2em;
    font-weight: bold;
}

.footer-prices {
    color: #FFF;
    padding: 0px;
    text-align: center;
    margin: 50px;
}

.footer-prices p {
    margin: 10px 0;
}



/* Contact */

.contact {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    color: #FFF;
    margin: 0 auto;
}

.contact .image-container,
.contact form {
    flex: 1;
    margin: 10px;
}

.contact .image-container img {
    width: 100%;
    height: auto;
}

.contact form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 700px; 
}

.contact h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}


.contact button {
    background-color: #fff;
    font-size: 15px;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
}

.contact button:hover {
    background-color: #bbb9b9;
    transition: 0.3s;
}

.contact label {
    margin: 10px 0 5px;
}

.contact input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact label {
    display: block; 
    margin-bottom: 5px; 
    color: #fff; 
    font-weight: bold; 
}

.contact input[type="text"],
.contact input[type="time"],
.contact input[type="date"],
.contact select,
.contact textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
}

.contact input[type="date"] {
    max-width: 200px;
}

select {
    max-width: 200px;
}

.contact input[type="time"] {
    max-width: 100px;
}

.contact input[type="number"] {
    max-width: 100px;
}

.inline-inputs {
    display: flex;
    justify-content: space-between;
}

.inline-inputs > div {
    flex: 1;
}

.inline-inputs > div:first-child {
    margin-right: 10px; 
}

.contact input[type="radio"] {
    width: auto;
}



/* Screen Size */

/* Nav */
@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
    .hamburger {
        display: none;
    }
}

@media (max-width: 767px) {
    .container {
        padding-right: 24px;
    }

    .navbar {
        display: none;
    }

    .logo_div {
        padding-right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .logo {
        max-height: 100%;
        max-height: 100%;
    }

}


/* Hero */
@media (max-width: 767px) {
    .hero-content {
        margin-bottom: 20%;
    }

    .hero {
        height: 95vh;
    }
}


/* Menu */
@media (max-width: 576px) {
    .drinks-menu {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .drink-item {
        width: calc(50% - 20px);
        margin: 10px;
        padding: 15px;
    }

    .drink-icon, .drink-icon2 {
        width: auto; 
        max-width: 100%; 
        height: auto;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .drink-item {
        width: calc(50% - 20px); 
        margin: 10px;
        padding: 10px; 
    }

    .drink-icon, .drink-icon2 {
        width: auto; 
        max-width: 100px; 
        height: auto;
    }
}

@media (max-width: 767px) {
    .faq-section, .contact {
        flex-direction: column;
        align-items: center;
    }

    .faq-section .image-container, .contact .image-container{
        width: 100%;
        order: 2; 
        padding: 0;
        margin: 0;
    }

    .image-container img {
        width: 100%; 
        height: auto; 
        border-radius: 0px;   
    }
    
    
    .contact img {
        max-width: 100%;
        margin-top: 20px;
        padding: 0;

    }
}

@media (min-width: 600) {
    .price-option {
        max-width: calc(33.333% - 20px); /* for 3 columns, adjust as necessary */
    }
}

/* Media query for desktop screens */
@media (min-width: 900px) {
    .price-option {
        max-width: calc(25% - 20px); /* for 4 columns */
    }
}

@media (max-width: 480px) {
    .price-option {
        min-width: 40%;
    }
    
}